// 后台框架尺寸
//收起最小宽度
$navMenuMin: 64px;
//菜单宽度
$navMenu: 250px;
//顶部高度
$layoutHeader: 75px;
//主颜色
$mainColor: #f36e56;

@mixin webkit($type, $value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -ms-#{$type}: $value;
    -o-#{$type}: $value;
}

@mixin labelDom($align, $width, $line-height: "normal") {
    label {
        float: left;
        line-height: $line-height + px;
        width: $width + px;
        text-align: $align;
    }
    .warp-content {
        margin-left: $width + px;
    }
}
